$main-bg-color: #dff9fb;
$color-white: #ffffff;
$color-blue: #0A327B;
$color_very_dark_grey_blue:#1C202B;
$color_dark_grey_blue: #5E6778;
$color_grey_blue: #939CAD;
$color_snow_blue: #F7FAFD;
$color_very_light_grey_blue: #DDE7EE;

$default-font-size: 1.6rem;

$path-to-fonts: '../../assets/fonts/static';
$plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;